{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card">
                <div class="card-body container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a href="{% url 'visita:registrar_visita' %}" class="btn btn-outline-primary">Registrar reserva de visita guiada</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card h-100">
                <div class="card-body container-fluid">
                    <div class="row h-100 justify-content-center">
                        <div class="col-auto my-auto">
                            <button class="btn btn-outline-primary">Registrar escuela</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
